/* Clément ROBIN */

/* font */

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

body, html {
	height: 100%;
    width: 100%;
	font-family: Poppins-Regular, sans-serif;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

input {
    outline: none;
    border: none;
    text-decoration:none"
}

/* bouton deconnexion */

.deconnexion {
    font-family: Montserrat-Bold;
    font-size: 11px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background: #57b846;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 1%;
    margin-left:90%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.deconnexion:hover {
    background: #333333;
}

.deconnexion:active {
    background: #a1a1a1;
}

/* /////// */

/* texte */

.message {
    font-size: 24px;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width : 50%;
    display: block;
}

.remarque {
    font-size: 15px;
}

/* /////// */

/* images */


.image1 {
    width:50%;
    height:50%;
    padding-left: 25%;
    margin-top: 10%;
}

.image2 {
    width:284px;
    height:260px;
    padding-left: 20%;
    float: left;
    margin: 0 10px 10px 0;
    margin-right: 10%;
}

/* /////// */

/* tableau */

.column1 {
    width: 10%;
    text-align: left;
}
.column2 {
    width: 20%;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
